.App {
    --indent: 2em;
    height: calc(100vh - 2 * var(--indent));
    width: calc(100vw - 2 * var(--indent));
    margin: var(--indent);
    position: relative;

    display: grid;
    grid-template-columns: 2fr minmax(25em, 1fr);
    column-gap: var(--indent);
}

.leaflet-container {
    width: 100%;
    height: 100%;
}

.toolbar-container {
    overflow-y: auto;
}

.block_margin-v_m {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.block_margin-t_m {
    margin-top: 1rem;
}

.block_margin-t_s {
    margin-top: 0.5rem;
}

.block_margin-b_m {
    margin-bottom: 1rem;
}

.block_margin-b_s {
    margin-bottom: 0.5rem;
}

.inline_space-end_s {
    margin-inline-end: 0.5rem;
}

span, button {
    display: inline-block;
}

input[type="number"] {
    padding-left: 0.2rem;
    width: 6em;
}

.hint {
    color: gray;
    background-color: whitesmoke;
    padding: 0.3em 0.5em;
}

.hint_type_success {
    color: green;
    background-color: #e7fde7;
}