
.selected-node-icon::after {
	--size: 40px;

	display: block;
	content: "";

    width: var(--size);
    height: var(--size);
	background-size: var(--size);

    background-image: url(https://svgsilh.com/svg/309113.svg);
	background-repeat: no-repeat;

    transform: translate(
		calc(-1 * var(--size) / 2 + 12px / 2),
		calc(-1 * var(--size))
	);
    filter: 
        contrast(0%)
        sepia(100%)
        saturate(1000%)
        brightness(180%)
        hue-rotate(30deg)
        drop-shadow(5px 15px 15px rgb(15, 10, 32));
}

.selected-node-icon:hover::after {
	filter: 
		contrast(0%)
		sepia(100%)
		saturate(1000%)
		brightness(180%)
		hue-rotate(-30deg)
		drop-shadow(5px 15px 15px rgb(15, 10, 32));
}