
.selected-node-icon > div::after {
	--size: 30px;

	display: block;
	content: "";

    width: var(--size);
    height: var(--size);
	background-size: var(--size);

	background-image: var(--svg-icon);
	background-repeat: no-repeat;

    transform: translate(
		calc(-1 * var(--size) / 2 + 12px / 2),
		calc(-1 * var(--size))
	);
    filter:
		drop-shadow(3px 3px 3px rgb(15, 10, 32));
		
	opacity: var(--opacity);
}

.selected-node-icon:hover > div::after {
	opacity: 0.3;
}
