.optimal-object-icon::after {
	--size: 40px;

	display: block;
	content: "";

    width: var(--size);
    height: var(--size);
	background-size: var(--size);

    background-image: url(https://image.flaticon.com/icons/svg/411/411728.svg);
	background-repeat: no-repeat;

    transform: translate(
		calc(-1 * var(--size) / 2 + 12px / 2),
		calc(-1 * var(--size))
	);
}